
@{
    ViewBag.Title = "AnalysisReport";
}

<div class="container">
    <div class="jumbotron">
        <h3>Analysis Report</h3>@*<small>(Current month selected by default.)</small>*@
        <hr />
        @*<form class="form-inline" href="~/Home/AnalysisReport" method="post">
            <div class="form-group">
                <label>From:&nbsp;</label>
                <input class="form-control" type="date" name="fromdate" placeholder="Select month-year" required="required" />
                <label>-</label>
                <input class="form-control" type="date" name="todate" placeholder="Select month-year" required="required" />
                <label>-</label>
                <input class="form-control" type="text" name="testname" placeholder="Enter test name" />
                <input type="submit" class="btn btn-default form-control" value="Check" />
            </div>
        </form>*@<br />

        <p>
            <b>Daily Cash:  Rs. </b><b>@ViewBag.dailyCash /-</b>
        </p>

        <p>
            <b>Monthly Cash:  Rs. </b><b>@ViewBag.monthlyCash /-</b>
        </p>

        <p>
            <b>No of tests: </b><b>@ViewBag.no_of_tests</b>
        </p>

        <p>
            <b>No of patients: </b><b>@ViewBag.no_of_patients</b>
        </p>
    </div>

</div>